In [8]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [10]:
steps_per_epoch = 265

genes = [
    "PsbS",
    "SBPase",
    "Raf1",
]

checkpoints = [
    f"checkpoints_epoch/GPN_Brassicales/30_epochs/{seed}/checkpoint-{steps_per_epoch * i}"
    for i in range(1, 31)
    for seed in [
        42,
        43,
        44,
        45,
        46,
    ]
]

In [17]:
res = []
for gene in genes:
    for checkpoint in checkpoints:
        df = pd.read_csv(f"../../results/experimental_data/metrics/{gene}/{checkpoint}.csv")
        df = df[df.subset=="all"]
        df["gene"] = gene
        df["checkpoint"] = checkpoint
        res.append(df)
res = pd.concat(res)
res["epoch"] = res.checkpoint.str.extract(r"checkpoint-(\d+)").astype(int) // steps_per_epoch
res["seed"] = res.checkpoint.str.split("/").str[-2]
res.drop(columns=["checkpoint", "subset"], inplace=True)
res

     variant_type  n_variants   Pearson  Spearman  gene  epoch seed
0             all        1127 -0.055947 -0.034061  PsbS      1   42
1    substitution         644  0.079738  0.076040  PsbS      1   42
2       insertion         209 -0.232512 -0.218805  PsbS      1   42
3        deletion         274  0.008818 -0.022637  PsbS      1   42
4   12bp_deletion         136  0.028462  0.039866  PsbS      1   42
..            ...         ...       ...       ...   ...    ...  ...
0             all         321  0.150251  0.140400  Raf1     30   46
1    substitution         246  0.127372  0.090671  Raf1     30   46
2       insertion          29  0.285108  0.439734  Raf1     30   46
3        deletion          46  0.154368  0.175174  Raf1     30   46
4   12bp_deletion          17  0.115973  0.059595  Raf1     30   46

[2250 rows x 7 columns]

In [18]:
res.to_csv("metrics_MPRA.csv.gz", index=False)

In [19]:
res = []
for checkpoint in checkpoints:
    df = pd.read_csv(f"../../results/RNAseq/metrics/{checkpoint}.csv")
    df["checkpoint"] = checkpoint
    res.append(df)
res = pd.concat(res)
res["epoch"] = res.checkpoint.str.extract(r"checkpoint-(\d+)").astype(int) // steps_per_epoch
res["seed"] = res.checkpoint.str.split("/").str[-2]
res.drop(columns=["checkpoint"], inplace=True)
res

     pearson  epoch seed
0   0.387820      1   42
0   0.396363      1   43
0   0.381089      1   44
0   0.380293      1   45
0   0.392429      1   46
..       ...    ...  ...
0   0.476490     30   42
0   0.476450     30   43
0   0.483435     30   44
0   0.466612     30   45
0   0.459153     30   46

[150 rows x 3 columns]

In [20]:
res.to_csv("metrics_RNAseq.csv.gz", index=False)